{layout="_layouts/blank"
    body_class="view-intro"
}

	<div class="page-main">
		
		<section class="section masthead">
			<div class="background" style="background-image: url(/assets/dist/img/intro-bg.jpg)">
													
				<div class="block text">
					<div class="container">
						
						<figure class="figure">
							<img src="/assets/dist/img/logo-white.svg" width="140" title="Nijdra" alt="Nijdra" class="img-responsive" />
						</figure>
								
						<header class="title">
							<h1><span>Nijdra Group</span></h1>
							<h2><span>Precision is our profession,<br />Service is our passion</span></h2>
						</header>
						
						<div class="content">
							
							<p><strong>Choose your language:</strong></p>
							
							<ul>
								{exp:structure:entries
									channel="vertaling"
									parent_id="0"
									disable="categories|category_fields|member_data|trackbacks|pagination"
								}
								<li><a href="{vertaling_homepage_url}" class="btn btn-block btn-transparent"><span><i class="flag-icon {vertaling_vlagicoon}"></i> {title}</span></a></li>
								{/exp:structure:entries}
							</ul>
							
						</div>
						
					</div><!-- /container -->
				</div><!-- /block -->
				
				<div class="block social">
					<div class="container">
						<div class="content">
		
			                <ul class="social hidden-xs">
			                    <li class="twitter">
			                    	<a href="{exp:low_variables:single var="twitter_url"}"><i class="fa fa-twitter"></i></a>
			                    </li>
			                    <li class="linkedin">
			                    	<a href="{exp:low_variables:single var="linkedin_url"}"><i class="fa fa-linkedin"></i></a>
			                    </li>
			                </ul>
			                
						</div><!-- /content -->
					</div><!-- /container -->
				</div><!-- /block -->
				
			</div><!-- /background -->
		</section><!-- /section -->
							
	</div><!-- /page-main -->