{layout="_layouts/default"
    body_class="view-static view-search-results"
}

		<div class="page-main">
			
			<section class="section main">
				<div class="container">
					
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
						
							<div class="block text">
								
								<header class="title">
									<h1><span>Zoekresultaten</span></h1>
								</header>

								
								<div class="content">

									<ul>
									{exp:search:search_results}
									<li>
										<h2><a href="{url}">{title}</a></h2>
										{excerpt}
									</li>
									{/exp:search:search_results}
									</ul>
									
								</div>
							</div><!-- /block -->
						
						</div><!-- /col -->
					</div><!-- /row -->		
									
				</div><!-- /container -->
			</section><!-- /section -->

		</div><!-- /page-main -->