{layout="_layouts/default"
    body_class="view-static view-search-results"
}

		<div class="page-main">
			
			<section class="section main">
				<div class="container">
					
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
						
							<div class="block text">
								
								<header class="title">
									<h1><span>{exp:low_variables:single var="search_no_results_title_{segment_1}"}</span></h1>
								</header>
								
								<div class="content">
									
									<p class="lead">{exp:low_variables:single var="search_no_results_text_{segment_1}"}</p>
									
								</div>
							</div><!-- /block -->
													
						</div><!-- /col -->
					</div><!-- /row -->		
									
				</div><!-- /container -->
			</section><!-- /section -->

		</div><!-- /page-main -->