{layout="_layouts/default"
    body_class="view-static view-search-results"
}

		{layout:set name="meta_title"}
			{exp:low_variables:single var="search_results_title_{segment_1}"}
		{/layout:set}
		
		{layout:set name="meta_description"}
			{exp:low_variables:single var="search_results_text_{segment_1}"}
		{/layout:set}

		<div class="page-main">
			
			<section class="section main">
				<div class="container">
					
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
						
							<div class="block text">
								
								<header class="title">
									<h1><span>{exp:low_variables:single var="search_results_title_{segment_1}"}</span></h1>
								</header>
								
								<div class="content">
									
									<p class="lead">{exp:low_variables:single var="search_results_text_{segment_1}"}</p>
									
								</div>
							</div><!-- /block -->
						
							<div class="block list">
								
								<div class="content">
									
									<ul>
									{exp:search:search_results}
									<li>
										<h2 class="title h3">
											<a href="{structure:page_url_for:{entry_id}}" target="_blank">{title}</a>
										</h2>
										<ul class="details">
											<li class="link"><a href="{structure:page_url_for:{entry_id}}" target="_blank">{structure:page_url_for:{entry_id}}</a></li>
										</ul>
										{excerpt}
									</li>
									{/exp:search:search_results}
									</ul>
									
								</div>
							</div><!-- /block -->
						
						</div><!-- /col -->
					</div><!-- /row -->		
									
				</div><!-- /container -->
			</section><!-- /section -->

		</div><!-- /page-main -->