{layout="_layouts/default"
    body_class="view-static view-news-item"
}

	{exp:channel:entries
		channel="nieuws_{segment_1}"
		dynamic="no"
		url_title="{last_segment}"
		limit="1"
		disable="categories|category_fields|member_data|pagination|trackbacks"
	}			

		<div class="page-main">
		
			<section class="section main">
				<div class="container">
					
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
							
							{_partial_breadcrumb}
						
							<div class="block text">
								
								<header class="title">
									<h1><span>{title}</span></h1>
								</header>
								
								<div class="content">
									
									{nieuws_inhoud}
									
								</div>
							</div><!-- /block -->
						
						</div><!-- /col -->
					</div><!-- /row -->		
									
				</div><!-- /container -->
			</section><!-- /section -->
		
			<section class="section list">
				<div class="container">
					
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
						
							{embed="_embeds/.news_item_list"
								entry_id="{entry_id}"
							}
						
						</div><!-- /col -->
					</div><!-- /row -->		
									
				</div><!-- /container -->
			</section><!-- /section -->

		</div><!-- /page-main -->
				
	{/exp:channel:entries}