{layout="_layouts/default"
    body_class="view-index"
}

	{exp:channel:entries
		channel="homepage"
		dynamic="yes"
		limit="1"
		disable="categories|category_fields|member_data|pagination|trackbacks"
	}

	<div class="page-main">
					
		<section class="section carousel">
			<div class="outer">
				<div id="carousel">
					{home_masthead_afbeeldingen}
					<div class="slide" style="background-image: url({exp:ce_img:single 
						src="{home_masthead_afbeeldingen:afbeelding}" 
						width="1920" 
						height="866" 
						crop="yes|center,center" 
						allow_scale_larger="yes" 
						url_only="yes"
					})"></div>
					{/home_masthead_afbeeldingen}
				</div><!-- /carousel -->
				
				<div class="inner">
					<div class="container">
						
						<header class="page-title">
							<h1><span>{home_masthead_titel}</span></h1>
						</header>
						
						<p>{home_masthead_intro}</p>
						
					</div><!-- /container -->	
					
				</div><!-- /inner -->
	
				<div id="carousel-controls" class="carousel-controls" role="nav">
					<a href="#" class="control prev"><span><i class="material-icons" aria-hidden="true">chevron_left</i></span></a>
					<a href="#" class="control next"><span><i class="material-icons" aria-hidden="true">chevron_right</i></span></a>
				</div>
				
				<div class="scroll-hint animated bounce wow">
					<a href="#section-intro"><i class="material-icons">arrow_downward</i></a>
				</div>
			</div><!-- /outer -->					
		</section><!-- /section -->
		
		<section class="section intro" id="section-intro">
			
			<div class="container">
				
				<div class="block text">
					<div class="content">
						
						<div class="row">
							
							<div class="col-md-6">
								
								<blockquote class="quote">
									{home_intro_quote}
								</blockquote>
								
							</div><!-- /col -->
							
							<div class="col-md-6">
							
								{home_intro_tekst}
								
								<div class="buttons-set">
									{home_intro_button}
									<a href="{home_intro_button:button_link}" class="btn btn-primary btn-continue">
										<span>{home_intro_button:button_label}</span><span class="icon"></span>
									</a>
									{/home_intro_button}
								</div>
								
							</div><!-- /col -->
							
						</div><!-- /row -->
						
					</div><!-- /content -->
				</div><!-- /block -->
						
			</div><!-- /container -->
			
		</section><!-- /section -->
		
		<section class="section services">
			<div class="container">
				
				<header class="section-title">
					<h2><span>{home_diensten_sectietitel}</span></h2>
				</header>
				
				<div class="row">
					
					{home_diensten_secties}
					<div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0">
													
						<div class="block text">
							
							<figure class="figure">
								<a href="{home_diensten_secties:button_link}">
									{exp:ce_img:single 
										src="{home_diensten_secties:afbeelding}"
										width="700"
										height="470"
										crop="yes|center,center"
										allow_scale_larger="yes"
										title=""
										alt_text=""
										class="img-responsive"
									}
								</a>
							</figure>
							
							<header class="title">
								<h3><a href="{home_diensten_secties:button_link}"><span>{home_diensten_secties:titel}</span></a></h3>
							</header>
							
							<div class="content">
								
								<div class="wrap">
									{home_diensten_secties:omschrijving}
								</div>
								
								<div class="buttons-set">
									<a href="{home_diensten_secties:button_link}" class="btn btn-primary btn-continue">
										<span>{home_diensten_secties:button_label}</span><span class="icon"></span>
									</a>
								</div>
								
							</div>
							
						</div><!-- /block -->
						
					</div><!-- /col -->
					{/home_diensten_secties}
					
				</div><!-- /row -->
				
			</div><!-- /container -->
		</section><!-- /section -->
		
		<section class="section news">
			<div class="container-fluid">
				
				<header class="section-title">
					<h2><span>{home_nieuws_sectietitel}</span></h2>
				</header>
				
				<div class="row no-gutter">
					<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
						
						{embed="_embeds/.home_news_latest_figure"
							fallback_src="{home_nieuws_afbeelding}"
						}
						
					</div><!-- /col -->
					<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0">
						
						{embed="_embeds/.home_news_latest"}
						
						<div class="block list">
							<div class="content">
								
								{embed="_embeds/.home_news_list"}
								
								<div class="buttons-set">
									{home_nieuws_button}
									<a href="{home_nieuws_button:button_link}" class="btn btn-primary btn-continue">
										<span>{home_nieuws_button:button_label}</span><span class="icon"></span>
									</a>
									{/home_nieuws_button}
								</div>
								
							</div>
						</div><!-- /block -->
						
					</div><!-- /col -->
				</div><!-- /row -->
				
			</div><!-- /container-fluid -->
		</section><!-- /section -->
		
		<section class="section agenda">
			<div class="container-fluid">
				
				<header class="section-title">
					<h2><span>{home_agenda_sectietitel}</span></h2>
				</header>
				
				<div class="row no-gutter">
					
					<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-md-push-6">
						<figure class="figure">
							{exp:ce_img:single 
								src="{home_agenda_afbeelding}"
								width="720"
								height="510"
								crop="yes|center,center"
								allow_scale_larger="yes"
								title=""
								alt_text=""
								class="img-responsive"
							}
						</figure>
					</div><!-- /col -->
					
					<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-md-pull-6">
						
						<div class="block list">
							<div class="content">
								
								{embed="_embeds/.home_agenda_list"}
								
								<div class="buttons-set">
									{home_agenda_button}
									<a href="{home_agenda_button:button_link}" class="btn btn-primary btn-continue">
										<span>{home_agenda_button:button_label}</span><span class="icon"></span>
									</a>
									{/home_agenda_button}
								</div>
								
							</div>
						</div><!-- /block -->
						
					</div><!-- /col -->
					
				</div>
				
			</div><!-- /container-fluid -->
		</section><!-- /section -->
		
		<section class="section sectors">
			<div class="container-fluid">
				
				<header class="section-title">
					<h2><span>{home_branches_sectietitel}</span></h2>
				</header>
				
				<div class="carousel">
					<ul>
						{home_branches_lijst}
						<li>
							<figure class="figure">
								{exp:ce_img:single 
									src="{home_branches_lijst:afbeelding}"
									width="960"
									height="680"
									crop="yes|center,center"
									allow_scale_larger="yes"
									title=""
									alt_text=""
									class="img-responsive"
								}
								<figcaption class="caption">{home_branches_lijst:titel}</figcaption>
							</figure>
						</li>
						{/home_branches_lijst}
					</ul>
					
				</div>
						
				<div id="sector-controls" class="carousel-controls" role="nav">
					<a href="#" class="control prev"><span><i class="material-icons" aria-hidden="true">chevron_left</i></span></a>
					<a href="#" class="control next"><span><i class="material-icons" aria-hidden="true">chevron_right</i></span></a>
				</div>
				
				<div id="sector-pagination" class="carousel-pagination"></div>
			</div><!-- /container -->
		</section><!-- /section -->
		
		<section class="section maps">
			
			<div id="nijdra-map" class="replace-map"></div><!-- /nijdra-map -->
			
			<div class="overlay">
				<div class="container-fluid">
					
					<div class="block text">
						
						<header class="title">
							<h3><span>{home_kaart_titel}</span></h3>
						</header>
						
						<div class="content">
							
							{home_kaart_tekst}
							
							<div class="buttons-set">
								{home_kaart_button}
								<a href="{home_kaart_button:button_link}" class="btn btn-primary btn-continue">
									<span>{home_kaart_button:button_label}</span><span class="icon"></span>
								</a>
								{/home_kaart_button}
							</div>
							
						</div>
					</div><!-- /block -->
					
				</div><!-- /container -->
			</div><!-- /overlay -->
								
		</section><!-- /section -->
			
	</div><!-- /page-main -->

	{layout:set name="extra_js"}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8SgAqGf-mBuGIJaO-z_WxxXwkJ58A3Bk"></script>
	<script type="text/javascript">
	    
	    function initialize() {
	        
	        var nijdra_styles = [{
	                featureType: "water", 
	                elementType: "all",
	                stylers: []
	            },{
	                featureType: "all", 
	                elementType: "geometry",
	                stylers: [
	                    { saturation: -100 }, 
	                    { visibility: "simplified" }
	                ]
	            },{ 
	                featureType: "all", 
	                elementType: "labels",
	                stylers: [
	                    { saturation: -100 }, 
	                    { lightness: 52 },
	                    { invert_lightness: true },
	                    { visibility: "off" }
	                ]
	            },{ 
	                featureType: "road.local", 
	                elementType: "labels",
	                stylers: [
	                    { visibility: "simplified" }]
	            },{ 
	                featureType: "administrative.locality", 
	                elementType: "labels", 
	                stylers: [
	                    { visibility: "on" },
	                    { invert_lightness: true },
	                    { gamma: 0.62 }]
	            }
	        ];
	        
	        // If viewport is wider than 480px, isDraggable = true, else isDraggable = false
	        var isDraggable     = $(document).width() > 480 ? true : false; 
	
	        var mapOptions = {              
	            zoom: 14,
	            disableDefaultUI: false,
	            draggable: isDraggable,
	            scrollwheel: false,
	            styles: nijdra_styles
	        };
	        
	        var map    = new google.maps.Map(document.getElementById('nijdra-map'), mapOptions);
	        var bounds = new google.maps.LatLngBounds();    
	        var infoWindow;
	        var iconBase = '/assets/dist/img/';    
	
	        var latLng1 = new google.maps.LatLng(52.548152, 4.899223); //Bamestraweg
	        var latLng2 = new google.maps.LatLng(52.552495, 4.902434); //Insulindeweg
	        var latLng3 = new google.maps.LatLng(52.688975, 4.828782); //Galileistraat
	        
	        bounds.extend(latLng1);
	        bounds.extend(latLng2);
	        bounds.extend(latLng3);
	        
			map.fitBounds(bounds); 
			map.panToBounds(bounds);
	            
	        var marker1 = new google.maps.Marker({
	            position: latLng1,
	            map: map,
	            title: "Nijdra Group",
	            icon: {
	                url: iconBase + 'pin-googlemaps@2x.png',
	                scaledSize: new google.maps.Size(60, 76)
	            }
	        });
	            
	        var marker2 = new google.maps.Marker({
	            position: latLng2,
	            map: map,
	            title: "Nijdra Group",
	            icon: {
	                url: iconBase + 'pin-googlemaps@2x.png',
	                scaledSize: new google.maps.Size(60, 76)
	            }
	        });
	            
	        var marker3 = new google.maps.Marker({
	            position: latLng3,
	            map: map,
	            title: "Nijdra Group",
	            icon: {
	                url: iconBase + 'pin-googlemaps@2x.png',
	                scaledSize: new google.maps.Size(60, 76)
	            }
	        });
	    
	        google.maps.event.addListener(map, 'click', function(event){
	            this.setOptions({ scrollwheel: true });
	        });
	    
			google.maps.event.addDomListener(window, "resize", function() {
				var center = map.getCenter();
				google.maps.event.trigger(map, "resize");
				map.setCenter(center);
				map.fitBounds(bounds); 
				map.panToBounds(bounds);
			});
			
	        
	    }
		
	    google.maps.event.addDomListener(window, 'load', initialize);
	    
	</script>
	{/layout:set}
	
	{/exp:channel:entries}
