<div class="block text form">
	
	<header class="title">
		<h2><span>Reageer direct op deze vacature</span></h2>
	</header>
	
	<div class="content">
				
		{exp:freeform:form
			form_id="2"
			form:class="form form-horizontal form-validate"
			required="name|email|telephone|user_message"
			return="{current_url}/success"
		}
		
			<input type="hidden" name="subject" value="{structure:page:title} (#{structure:page:entry_id})" />
					
			<div class="form-group">
				<label class="control-label col-md-3" for="form-name">Naam <span class="text-danger">*</span></label>
				<div class="col-md-8 col-lg-7">
					<input type="text" class="form-control required" name="name" id="form-name" maxlength="250" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3" for="form-email">E-mail <span class="text-danger">*</span></label>
				<div class="col-md-8 col-lg-7">
					<input type="text" class="form-control required" name="email" id="form-email" maxlength="250" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3" for="form-telephone">Telefoon <span class="text-danger">*</span></label>
				<div class="col-md-8 col-lg-7">
					<input type="text" class="form-control required" name="telephone" id="form-telephone" maxlength="250" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3" for="form-message">Motivatie <span class="text-danger">*</span></label>
				<div class="col-md-8 col-lg-7">
					<textarea class="form-control required" name="user_message" id="form-message" rows="5"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<label class="control-label" for="form-attachment">CV <span class="text-danger">*</span></label>
				</div>
				<div class="col-md-8 col-lg-7">
				
					<div class="form-group">
						<div class="col-md-12">
							<input type="file" name="attachment[]" id="form-attachment" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
						</div>
					</div>
					
					<p class="text-muted small">Upload uw CV (pdf/doc/docx, maximale bestandgrootte 2 MB)</p>

				</div>
			</div>
			
			<div class="buttons-set">
				<div class="row">
					<div class="col-md-8 col-lg-7 col-md-offset-3 col-lg-offset-3">
						<button type="submit" class="btn btn-primary btn-continue">
							<span>Verzenden</span>
							<span class="icon"></span>
						</button>
					</div>
				</div>
			</div>
			
		{/exp:freeform:form}
		
	</div>
	
</div><!-- /block -->