{layout="_layouts/default"
    body_class="view-vacatures"
}

	{exp:channel:entries
		channel="tekstpagina"
		dynamic="yes"
		limit="1"
		disable="categories|category_fields|member_data|pagination|trackbacks"
	}			
	
		<div class="page-main">
			
			{if tekst_masthead_tonen == '1'}
			
			<section class="section masthead">
				<div class="background" style="background-image: url({exp:ce_img:single 
						src="{tekst_masthead_afbeelding}" 
						width="1920" 
						height="866" 
						crop="yes|center,center" 
						allow_scale_larger="yes" 
						url_only="yes"
					})">
														
					<div class="block text">
						<div class="container">
									
							<hgroup class="title">
								<h1><span>{tekst_masthead_titel}</span></h1>
								{if tekst_masthead_subtitel != ''}<h2><span>{tekst_masthead_subtitel}</span></h2>{/if}
							</hgroup>
							
						</div><!-- /container -->
					</div><!-- /block -->
				
					<div class="scroll-hint animated bounce wow">
						<a href="#section-intro"><i class="material-icons">arrow_downward</i></a>
					</div>
					
				</div><!-- /background -->
			</section><!-- /section -->
			
			{/if}

			<section class="section intro" id="section-intro">
				
				<div class="container">
					
					<div class="block text">
						<div class="content">
							
							{tekst_inhoud_tekst}
							
						</div><!-- /content -->
					</div><!-- /block -->
							
				</div><!-- /container -->
				
			</section><!-- /section -->
			
			<section class="section main">
				<div class="container">
					
					<header class="section-title">
						<h2><span>{exp:low_variables:single var="vacancies_block_title_{segment_1}"}</span></h2>
					</header>
					
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
						
							<div class="block list">
								<div class="content">
									
									{embed="_embeds/.vacatures_vacature_list"}
									
								</div>
							</div><!-- /block -->
						
						</div><!-- /col -->
					</div><!-- /row -->		
									
				</div><!-- /container -->
			</section><!-- /section -->
			
			<section class="section contact">
				<div class="container">
					
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
					
							<div class="block text">
								
								<header class="title">
									<h2><span>{exp:low_variables:single var="open_application_block_title_{segment_1}"}</span></h2>
								</header>
								
								<div class="content">
	
									{exp:low_variables:single var="open_application_block_text_{segment_1}"}
	
								</div>
								
							</div><!-- /block -->
						
						</div><!-- /col -->
					</div><!-- /row -->		
									
				</div><!-- /container -->
			</section><!-- /section -->
		

		</div><!-- /page-main -->
				
	{/exp:channel:entries}