{layout="_layouts/default"
    body_class="view-static view-vacature-item"
}

	{exp:channel:entries
		channel="vacatures_{segment_1}"
		dynamic="yes"
		limit="1"
		disable="categories|category_fields|member_data|pagination|trackbacks"
	}			
	
		<div class="page-main">
		
			<section class="section main">
				<div class="container">
					
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
							
							{_partial_breadcrumb}
							
							{if freebie_last == 'success'}
							<div class="alert alert-info">
								{exp:low_variables:single var="formulier_verzonden_melding_{segment_1}"}
							</div>
							{/if}
						
							<div class="block text">
								
								<header class="title">
									<h1><span>{vacature_inhoud_paginatitel}</span></h1>
								</header>
								
								<div class="content">
									
									{vacature_inhoud_tekst}
									
								</div>
							</div><!-- /block -->
							
							{if vacature_details_tabel:total_rows > 0}
							<div class="block details">
								<div class="content">
									
									<div class="table-responsive">
										<table class="table table-striped">
											{vacature_details_tabel}
											<tr>
												<th>{vacature_details_tabel:eigenschap}</th>
												<td>{vacature_details_tabel:waarde}</td>
											</tr>
											{/vacature_details_tabel}
										</table>
									</div><!-- /table-responsive -->
									
								</div>
							</div><!-- /block -->
							{/if}
						
						</div><!-- /col -->
					</div><!-- /row -->		
									
				</div><!-- /container -->
			</section><!-- /section -->
			
			{if freebie_last != 'success'}
			
			<section class="section form">
				<div class="container">
					
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
						
							<div class="block text">
								
								<div class="content">
									
									{embed="vacatures/.block_form_{segment_1}"}
									
								</div>
							</div><!-- /block -->
						
						</div><!-- /col -->
					</div><!-- /row -->		
									
				</div><!-- /container -->
			</section><!-- /section -->

			{/if}

		</div><!-- /page-main -->
				
	{/exp:channel:entries}