{layout="_layouts/default"
    body_class="view-about"
}

	{exp:channel:entries
		channel="over_nijdra"
		dynamic="yes"
		limit="1"
		disable="categories|category_fields|member_data|pagination|trackbacks"
	}
	
			<div class="page-main">
				
				<section class="section masthead">
					<div class="background" style="background-image: url({exp:ce_img:single 
						src="{nijdra_masthead_afbeelding}" 
						width="1920" 
						height="866" 
						crop="yes|center,center" 
						allow_scale_larger="yes" 
						url_only="yes"
					})">
															
						<div class="block text">
							<div class="container">
										
								<hgroup class="title">
									<h1><span>{nijdra_masthead_titel}</span></h1>
									{if nijdra_masthead_subtitel != ''}<h2><span>{nijdra_masthead_subtitel}</span></h2>{/if}
								</hgroup>
								
							</div><!-- /container -->
						</div><!-- /block -->
				
						<div class="scroll-hint animated bounce wow">
							<a href="#section-intro"><i class="material-icons">arrow_downward</i></a>
						</div>
						
					</div><!-- /background -->
				</section><!-- /section -->

				<section class="section intro" id="section-intro">
					
					<div class="container">
						
						<div class="block text">
							<div class="content">
								
								{nijdra_intro_tekst}
								
							</div><!-- /content -->
						</div><!-- /block -->
								
					</div><!-- /container -->
					
				</section><!-- /section -->

				<section class="section usps">
					
					<div class="container">
						
						<header class="section-title">
							<h2><span>{nijdra_usps_sectietitel}</span></h2>
						</header>
						
						<div class="row">
							
							{nijdra_usps_lijst}
							
							<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-0">
								
								<div class="block text">
									
									<span class="icon">
										<i class="material-icons" aria-hidden="true">{nijdra_usps_lijst:switch="refresh|call_made|people"}</i>
									</span>
									
									<header class="title">
										<h3><span>{nijdra_usps_lijst:titel}</span></h3>
									</header>
									
									<div class="content">
								
										{nijdra_usps_lijst:tekst}
										
									</div>
								</div><!-- /block -->
								
							</div><!-- /col -->
							
							{/nijdra_usps_lijst}
							
						</div><!-- /row -->
								
					</div><!-- /container -->
					
				</section><!-- /section -->
				
				<section class="section timeline">
					<div class="container">
						
						<header class="section-title">
							<h2><span>{nijdra_tijdlijn_sectietitel}</span></h2>
						</header>
						
		 				<ol role="list">
			 				
			 				{nijdra_tijdlijn_lijst}
			 				
			 				<li role="listitem">
			 					<div class="row">	
				 					<div class="{nijdra_tijdlijn_lijst:switch="col-md-6 col-md-push-6 col-lg-5 col-lg-push-7|col-md-6 col-lg-5"}">
					 				
					 					<div class="figure">
					 						<figure role="img">
												{exp:ce_img:single 
													src="{nijdra_tijdlijn_lijst:afbeelding}"
													width="890"
													height="560"
													crop="yes|center,center"
													allow_scale_larger="yes"
													title=""
													alt_text=""
													class="img-responsive"
												}
					 						</figure>
					 					</div>
					 					
				 					</div><!-- /col -->
				 					<div class="{nijdra_tijdlijn_lijst:switch="col-md-6 col-md-pull-6 col-lg-5 col-lg-pull-5|col-md-6 col-lg-5 col-lg-offset-2"}">
					 					
					 					<div class="content">
						 					<h3>{nijdra_tijdlijn_lijst:titel}</h3>
						 					{nijdra_tijdlijn_lijst:tekst}
					 					</div>
					 					
				 					</div><!-- /col -->
			 					</div><!-- /row -->
			 				</li>
			 				
			 				{/nijdra_tijdlijn_lijst}
			 				
			 			</ol>
			 			
					</div><!-- /container -->
				</section><!-- /section -->
					
				<section class="section certificates">
					<div class="container">
						
						<header class="section-title">
							<h2><span>{nijdra_acm_sectietitel}</span></h2>
						</header>
							
						<div class="block text">
							
							<div class="content">
								
								{nijdra_acm_tekst}
																
							</div>
							
						</div><!-- /block -->
						
					</div><!-- /container -->
				</section><!-- /section -->
				
				<section class="section sectors">
					<div class="container-fluid">
						
						<header class="section-title">
							<h2><span>{nijdra_branches_sectietitel}</span></h2>
						</header>
						
						<div class="carousel">
							<ul>
								{nijdra_branches_lijst}
								<li>
									<figure class="figure">
										{exp:ce_img:single 
											src="{nijdra_branches_lijst:afbeelding}"
											width="960"
											height="680"
											crop="yes|center,center"
											allow_scale_larger="yes"
											title=""
											alt_text=""
											class="img-responsive"
										}
										<figcaption class="caption">{nijdra_branches_lijst:titel}</figcaption>
									</figure>
								</li>
								{/nijdra_branches_lijst}
							</ul>
							
						</div>
								
						<div id="sector-controls" class="carousel-controls" role="nav">
							<a href="#" class="control prev"><span><i class="material-icons" aria-hidden="true">chevron_left</i></span></a>
							<a href="#" class="control next"><span><i class="material-icons" aria-hidden="true">chevron_right</i></span></a>
						</div>
						
						<div id="sector-pagination" class="carousel-pagination"></div>
					</div><!-- /container -->
				</section><!-- /section -->
					
			</div><!-- /page-main -->
	
	{/exp:channel:entries}