<ol>
	{exp:channel:entries
		channel="agenda_{segment_1}"
		dynamic="no"
		limit="50"
		show_future_entries="yes"
		orderby="agenda_startdatum"
		sort="asc"
		disable="categories|category_fields|pagination|trackbacks|member_data"
	}
	<li>
		<h2 class="h3">{if agenda_externe_link != ''}<a href="{agenda_externe_link}" target="_blank"><span>{title}</span></a>{if:else}<span>{title}</span>{/if}</h2>
		<ul>
			<li class="date">{agenda_startdatum format="{_partial_date_format_short}"}{if agenda_einddatum != ''} - {agenda_einddatum format="{_partial_date_format_short}"}{/if}</li>
			<li class="stand">{agenda_locatie}</li>
		</ul>
	</li>
	{/exp:channel:entries}
</ol>