<div class="block text links hidden-xs">
	
	<header class="title">
		<strong><span>{exp:low_variables:single var="footer_block1_titel_{segment_1}"}</span></strong>
	</header>
	
	<div class="content">
		
		<ul>
			{exp:low_variables:pair 
				var="footer_block1_links_{segment_1}"
			}
			<li><a href="{footer_block1_links_{segment_1}:link}">{footer_block1_links_{segment_1}:naam}</a></li>
			{/exp:low_variables:pair}
		</ul>
		
	</div>
	
</div><!-- /block -->