<div class="block text contact">
	
	<header class="title">
		<strong><span>{exp:low_variables:single var="footer_block4_titel_{segment_1}"}</span></strong>
	</header>
	
	<div class="content">
		
		{exp:low_variables:single var="footer_block4_tekst_{segment_1}"}
		
	</div>
	
</div><!-- /block -->