<div class="block text agenda hidden-xs">
	
	<header class="title">
		<strong><span>{exp:low_variables:single var="footer_block2_titel_{segment_1}"}</span></strong>
	</header>
	
	<div class="content">
			
		<ol>
			{exp:channel:entries
				channel="agenda_{segment_1}"
				dynamic="no"
				limit="5"
				show_future_entries="yes"
				orderby="agenda_startdatum"
				sort="asc"
				disable="categories|category_fields|pagination|trackbacks|member_data"
			}
			<li>
				{if agenda_externe_link != ''}<a href="{agenda_externe_link}" target="_blank"><span>{title}</span></a>{if:else}<span>{title}</span>{/if}
				<ul>
					<li class="date">{agenda_startdatum format="{_partial_date_format_short}"}{if agenda_einddatum != ''} - {agenda_einddatum format="{_partial_date_format_short}"}{/if}</li>
					<li class="stand">{agenda_locatie}</li>
				</ul>
			</li>
			{/exp:channel:entries}
		</ol>
		
		{exp:low_variables:single var="footer_block2_tekst_{segment_1}"}
		
	</div>
	
</div><!-- /block -->