<div class="block text news hidden-xs hidden-sm">
	
	<header class="title">
		<strong><span>{exp:low_variables:single var="footer_block3_titel_{segment_1}"}</span></strong>
	</header>
	
	<div class="content">
		{exp:channel:entries
			channel="nieuws_{segment_1}"
			dynamic="no"
			limit="1"
			search:nieuws_show_in_listing_only="=not 1"
			disable="categories|category_fields|member_data|pagination|trackbacks"
		}
		
		<h4><a href="{page_url}"><span class="date">{entry_date format="%j/%m"}:</span> {title}</a></h4>
		{nieuws_intro}
		
		{/exp:channel:entries}
		
		{exp:low_variables:single var="footer_block3_tekst_{segment_1}"}
		
	</div>
	
</div><!-- /block -->