<ol>
	{exp:channel:entries
		channel="nieuws_{segment_1}"
		dynamic="no"
		limit="4"
		offset="1"
		search:nieuws_show_in_listing_only="=not 1"
		disable="categories|category_fields|member_data|pagination|trackbacks"
	}
	<li><a href="{page_url}"><span class="date">{entry_date format="%d/%m"}:</span> {title}</a></li>
	{/exp:channel:entries}
</ol>