<div class="block article text">

	{exp:channel:entries
		channel="nieuws_{segment_1}"
		dynamic="no"
		limit="1"
		search:nieuws_show_in_listing_only="=not 1"
		disable="categories|category_fields|member_data|pagination|trackbacks"
	}
		
	<header class="title">
		<h3><a href="{page_url}"><span class="date">{entry_date format="%d/%m"}:</span> {title}</a></h3>
	</header>
	
	<div class="content">
		<a href="{page_url}">{nieuws_intro}</a>
	</div>

	{/exp:channel:entries}
	
</div><!-- /block -->