{exp:channel:entries
		channel="nieuws_{segment_1}"
		dynamic="no"
		limit="20"
		paginate="bottom"
		disable="categories|category_fields|member_data|trackbacks"
	}
	
	{if nieuws_afbeelding == ''}
		
	<div class="row no-gutter">
		<div class="col-md-6 col-md-push-3">
			<div class="block article text">

				<header class="title">
					<h3><a href="{page_url}"><span class="date">{entry_date format="%d/%m"}:</span> {title}</a></h3>
				</header>
				
				<div class="content">
					
					{nieuws_intro}
					
					<p class="continue"><a href="{page_url}">Lees verder</a></p>
					
				</div>

			</div><!-- /block -->
		
		</div><!-- /col -->
	</div><!-- /row -->
	
	{if:else}
		
	<div class="row no-gutter">
		<div class="{switch="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0|col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-md-push-6"}">
			<figure class="figure">
				<a href="{page_url}">
					{exp:ce_img:single 
						src="{nieuws_afbeelding}"
						width="720"
						height="510"
						crop="yes|center,center"
						allow_scale_larger="yes"
						title=""
						alt_text=""
						class="img-responsive"
					}
				</a>
			</figure>
		</div><!-- /col -->
		<div class="{switch="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0|col-sm-8 col-sm-offset-2 col-md-offset-0 col-md-6 col-md-pull-6"}">
			<div class="block article text has-image">

				<header class="title">
					<h3><a href="{page_url}"><span class="date">{entry_date format="%d/%m"}:</span> {title}</a></h3>
				</header>
				
				<div class="content">
					
					{nieuws_intro}
					
					<p class="continue"><a href="{page_url}">{exp:low_variables:single var="lees_meer_link_label_{segment_1}"}</a></p>
					
				</div>

			</div><!-- /block -->
		
		</div><!-- /col -->
	</div><!-- /row -->
	
	{/if}
	
	{paginate}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{pagination_links}
			<ul class="pagination">
				{previous_page}
					<li class="page-previous">
						<a href="{pagination_url}">
							<i class="fa fa-chevron-left"></i>
						</a>
					</li>
				{/previous_page}
			
				{next_page}
					<li class="page-next">
						<a href="{pagination_url}">
							<i class="fa fa-chevron-right"></i>
						</a>
					</li>
				{/next_page}
			
			</ul>
			{/pagination_links}
		</div><!-- /col-->
	</div><!-- /row -->
	{/paginate}
	
	{/exp:channel:entries}