<div class="block list">
								
	<header class="title">
		<h2 class="h3"><span>{exp:low_variables:single var="nieuwsitem_ander_nieuws_{segment_1}"}</span></h2>
	</header>
	
	<div class="content">

		<ul>
			{exp:channel:entries
				channel="nieuws_{segment_1}"
				dynamic="no"
				limit="5"
				entry_id="not {embed:entry_id}"
				disable="categories|category_fields|member_data|pagination|trackbacks"
			}
			<li><a href="{page_url}"><span class="date">{entry_date format="%d/%m"}:</span> {title}</a></li>
			{/exp:channel:entries}
		</ul>
		
	</div>
</div><!-- /block -->