<ul>
	{exp:channel:entries
		channel="vacatures_{segment_1}"
		dynamic="no"
		limit="100"
		disable="categories|category_fields|member_data|trackbacks|pagination"
	}
	<li><a href="{page_url}"><span>{title}</span></a></li>
	{if no_results}
	<li class="text-center text-muted">{exp:low_variables:single var="vacature_empty_text_{segment_1}"}</li>
	{/if}
	{/exp:channel:entries}
</ul>