<div class="block text form">
	
	<header class="title">
		<h2><span>{embed:form_title}</span></h2>
	</header>
	
	<div class="content">
		
		{embed:form_content}
		
		{exp:freeform:form
			form_id="1"
			form:class="form form-horizontal form-validate"
			required="name|email|telephone|user_message"
			return="{current_url}/success"
		}
					
			<div class="form-group">
				<label class="control-label col-md-3" for="form-name">Naam <span class="text-danger">*</span></label>
				<div class="col-md-8 col-lg-7">
					<input type="text" class="form-control required" name="name" id="form-name" maxlength="250" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3" for="form-company">Bedrijf</label>
				<div class="col-md-8 col-lg-7">
					<input type="text" class="form-control required" name="company" id="form-company" maxlength="250" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3" for="form-email">E-mail <span class="text-danger">*</span></label>
				<div class="col-md-8 col-lg-7">
					<input type="text" class="form-control required" name="email" id="form-email" maxlength="250" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3" for="form-telephone">Telefoon <span class="text-danger">*</span></label>
				<div class="col-md-8 col-lg-7">
					<input type="text" class="form-control required" name="telephone" id="form-telephone" maxlength="250" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label col-md-3" for="form-message">Vraag/opmerking <span class="text-danger">*</span></label>
				<div class="col-md-8 col-lg-7">
					<textarea class="form-control required" name="user_message" id="form-message" rows="5"></textarea>
				</div>
			</div>
			
			<div class="buttons-set">
				<div class="row">
					<div class="col-md-8 col-lg-7 col-md-offset-3 col-lg-offset-3">
						<button type="submit" class="btn btn-primary btn-continue">
							<span>Verzenden</span>
							<span class="icon"></span>
						</button>
					</div>
				</div>
			</div>
			
		{/exp:freeform:form}
		
	</div>
	
</div><!-- /block -->