{layout="_layouts/default"
    body_class="view-contact"
}

	{exp:channel:entries
		channel="contact"
		dynamic="yes"
		limit="1"
		disable="categories|category_fields|member_data|pagination|trackbacks"
	}			
	
		<div class="page-main">
			
			{if contact_masthead_tonen == '1'}
			
			<section class="section masthead">
				<div class="background" style="background-image: url({exp:ce_img:single 
						src="{contact_masthead_afbeelding}" 
						width="1920" 
						height="866" 
						crop="yes|center,center" 
						allow_scale_larger="yes" 
						url_only="yes"
					})">
														
					<div class="block text">
						<div class="container">
									
							<hgroup class="title">
								<h1><span>{contact_masthead_titel}</span></h1>
								{if contact_masthead_subtitel != ''}<h2><span>{contact_masthead_subtitel}</span></h2>{/if}
							</hgroup>
							
						</div><!-- /container -->
					</div><!-- /block -->
				</div><!-- /background -->
			</section><!-- /section -->
			
			{/if}
			
			<section class="section main">
				<div class="container">
					
					<div class="row">
						
						<aside class="col-md-4 col-lg-4">
							
							<div class="block text address">
								
								<header class="title">
									<h3 class="h2"><span>{contact_inhoud_paginatitel}</span></h3>
								</header>	
								
								<div class="content">
									{contact_inhoud_tekst}
								</div>
								
							</div><!-- /block -->
							
						</aside><!-- /col -->
						
						<div class="col-md-8 col-lg-7 col-lg-offset-1">
							
							{if freebie_last == 'success'}
							<div class="alert alert-info">
								{exp:low_variables:single var="formulier_verzonden_melding_{segment_1}"}
							</div>
							{/if}
							
							{if freebie_last != 'success'}
								{embed="contact/.block_contact_form_{segment_1}"
									form_title="{contact_formulier_titel}"
									form_content="{contact_formulier_tekst}"
								}
							{/if}
							
						</div><!-- /col -->
						
					</div><!-- /row -->
					
				</div><!-- /container -->
			</section><!-- /section -->
			
			<section class="section maps">
				
				<div id="nijdra-map" class="replace-map"></div><!-- /nijdra-map -->
				
				<div class="overlay">
					<div class="container-fluid">
						
						<div class="block text">
							
							<header class="title">
								<h3><span>{contact_kaart_blok_titel}</span></h3>
							</header>
							
							<div class="content">
								
								{contact_kaart_blok_tekst}
								
							</div>
						</div><!-- /block -->
						
					</div><!-- /container -->
				</div><!-- /overlay -->
									
			</section><!-- /section -->

		</div><!-- /page-main -->

		{layout:set name="extra_js"}
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8SgAqGf-mBuGIJaO-z_WxxXwkJ58A3Bk"></script>
		<script type="text/javascript">
		    
		    function initialize() {
		        
		        var nijdra_styles = [{
		                featureType: "water", 
		                elementType: "all",
		                stylers: []
		            },{
		                featureType: "all", 
		                elementType: "geometry",
		                stylers: [
		                    { saturation: -100 }, 
		                    { visibility: "simplified" }
		                ]
		            },{ 
		                featureType: "all", 
		                elementType: "labels",
		                stylers: [
		                    { saturation: -100 }, 
		                    { lightness: 52 },
		                    { invert_lightness: true },
		                    { visibility: "off" }
		                ]
		            },{ 
		                featureType: "road.local", 
		                elementType: "labels",
		                stylers: [
		                    { visibility: "simplified" }]
		            },{ 
		                featureType: "administrative.locality", 
		                elementType: "labels", 
		                stylers: [
		                    { visibility: "on" },
		                    { invert_lightness: true },
		                    { gamma: 0.62 }]
		            }
		        ];
		        
		        // If viewport is wider than 480px, isDraggable = true, else isDraggable = false
		        var isDraggable     = $(document).width() > 480 ? true : false; 
		
		        var mapOptions = {              
		            zoom: 14,
		            disableDefaultUI: false,
		            draggable: isDraggable,
		            scrollwheel: false,
		            styles: nijdra_styles
		        };
		        
		        var map    = new google.maps.Map(document.getElementById('nijdra-map'), mapOptions);
		        var bounds = new google.maps.LatLngBounds();    
		        var infoWindow;
		        var iconBase = '/assets/dist/img/';    
		
		        var latLng1 = new google.maps.LatLng(52.548152, 4.899223); //Bamestraweg
		        var latLng2 = new google.maps.LatLng(52.552495, 4.902434); //Insulindeweg
		        var latLng3 = new google.maps.LatLng(52.688975, 4.828782); //Galileistraat
		        
		        bounds.extend(latLng1);
		        bounds.extend(latLng2);
		        bounds.extend(latLng3);
		        
				map.fitBounds(bounds); 
				map.panToBounds(bounds);
		            
		        var marker1 = new google.maps.Marker({
		            position: latLng1,
		            map: map,
		            title: "Nijdra Group",
		            icon: {
		                url: iconBase + 'pin-googlemaps@2x.png',
		                scaledSize: new google.maps.Size(60, 76)
		            }
		        });
		            
		        var marker2 = new google.maps.Marker({
		            position: latLng2,
		            map: map,
		            title: "Nijdra Group",
		            icon: {
		                url: iconBase + 'pin-googlemaps@2x.png',
		                scaledSize: new google.maps.Size(60, 76)
		            }
		        });
		            
		        var marker3 = new google.maps.Marker({
		            position: latLng3,
		            map: map,
		            title: "Nijdra Group",
		            icon: {
		                url: iconBase + 'pin-googlemaps@2x.png',
		                scaledSize: new google.maps.Size(60, 76)
		            }
		        });
		    
		        google.maps.event.addListener(map, 'click', function(event){
		            this.setOptions({ scrollwheel: true });
		        });
		    
				google.maps.event.addDomListener(window, "resize", function() {
					var center = map.getCenter();
					google.maps.event.trigger(map, "resize");
					map.setCenter(center);
					map.fitBounds(bounds); 
					map.panToBounds(bounds);
				});
				
		        
		    }
			
		    google.maps.event.addDomListener(window, 'load', initialize);
		    
		</script>
		{/layout:set}
				
	{/exp:channel:entries}
