{layout="_layouts/default"
    body_class="view-assemblage"
}

	{exp:channel:entries
		channel="assemblage"
		dynamic="yes"
		limit="1"
		disable="categories|category_fields|member_data|pagination|trackbacks"
	}			
			
		<div class="page-main">
			
			<section class="section masthead">
				<div class="background" style="background-image: url({exp:ce_img:single 
					src="{ass_masthead_afbeelding}" 
						width="1920" 
						height="866" 
						crop="yes|center,center" 
						allow_scale_larger="yes" 
						url_only="yes"
					})">
														
					<div class="block text">
						<div class="container">
							<div class="row">
								<div class="col-lg-10 col-lg-offset-1">
									
									<hgroup class="title">
										<h1><span>{ass_masthead_titel}</span></h1>
										{if ass_masthead_subtitel != ""}<h2><span>{ass_masthead_subtitel}</span></h2>{/if}
									</hgroup>
									
								</div><!-- /col -->
							</div><!-- /row -->
						</div><!-- /container -->
					</div><!-- /block -->
				
					<div class="scroll-hint animated bounce wow">
						<a href="#section-intro"><i class="material-icons">arrow_downward</i></a>
					</div>
					
				</div><!-- /background -->
			</section><!-- /section -->

			<section class="section intro" id="section-intro">
				
				<div class="container">
					<div class="row">
						<div class="col-lg-10 col-lg-offset-1">
							
							<div class="block text">
								<div class="content">
								
									{ass_intro_tekst}
								
								</div><!-- /content -->
							</div><!-- /block -->
						
						</div><!-- /col -->
					</div><!-- /row -->													
				</div><!-- /container -->
				
			</section><!-- /section -->

			<section class="section services">
				
				<div class="container-fluid">
					
					<header class="section-title">
						<h2><span>{ass_secties_sectietitel}</span></h2>
					</header>
					
					
					{ass_secties_lijst}
					<div class="row no-gutter">
						<div class="{ass_secties_lijst:switch="col-md-8|col-md-8 col-md-push-4"}">
							<figure class="figure">
								{exp:ce_img:single 
									src="{ass_secties_lijst:afbeelding}"
									width="940"
									height="662"
									crop="yes|center,center"
									allow_scale_larger="yes"
									title=""
									alt_text=""
									class="img-responsive"
								}
							</figure>
						</div><!-- /col -->
						<div class="{ass_secties_lijst:switch="col-md-4|col-md-4 col-md-pull-8"}">
							
							<div class="block text">
								
								<header class="title">
									<h3><span>{ass_secties_lijst:titel}</span></h3>
								</header>
								
								<div class="content">
									{ass_secties_lijst:tekst}
								</div>
								
							</div><!-- /block -->
							
						</div><!-- /col -->
					</div><!-- /row -->
					{/ass_secties_lijst}
												
				</div><!-- /container -->
				
			</section><!-- /section -->

			<section class="section showcase">
				
				<div class="container-fluid">
					
					<header class="section-title">
						<h2><span>{ass_projecten_sectietitel}</span></h2>
					</header>
					
					{ass_projecten_lijst}
					<div class="row no-gutter">
						<div class="{ass_projecten_lijst:switch="col-sm-7 col-md-7 col-lg-8|col-sm-7 col-sm-push-5 col-md-8 col-md-push-4"}">
							<figure class="figure">
								{exp:ce_img:single 
									src="{ass_projecten_lijst:afbeelding}"
									width="940"
									height="662"
									crop="yes|center,center"
									allow_scale_larger="yes"
									title=""
									alt_text=""
									class="img-responsive"
								}
							</figure>
						</div><!-- /col -->
						<div class="{ass_projecten_lijst:switch="col-sm-5 col-md-5 col-lg-4|col-sm-5 col-sm-pull-7 col-md-4 col-md-pull-8"}">
							
							<div class="block text">
								
								<header class="title">
									<h3><span>{ass_projecten_lijst:titel}</span></h3>
								</header>
								
								<div class="content">
									{ass_projecten_lijst:tekst}
								</div>
								
							</div><!-- /block -->
							
						</div><!-- /col -->
					</div><!-- /row -->
					{/ass_projecten_lijst}	
							
				</div><!-- /container -->
				
			</section><!-- /section -->
			
			<section class="section contact">
				<div class="container">
					
					<div class="row">
						<div class="col-lg-8 col-lg-offset-2">
					
							<div class="block text">
								
								<header class="title">
									<h2><span>{ass_contact_titel}</span></h2>
								</header>
								
								<div class="content">
	
									{ass_contact_tekst}
	
								</div>
								
							</div><!-- /block -->
							
						</div><!-- /col -->
					</div><!-- /row -->
					
				</div><!--/container -->
			</section><!-- /section -->
				
		</div><!-- /page-main -->	
	
	{/exp:channel:entries}