#nijdra_eu {
	
	.btn {
		&.btn-transparent {
			.button-variant(#fff; transparent; #fff);
			border-width: 2px;
		}
	}
	
	.btn {
		&.btn-continue {
			border: none;
			padding: 10px 70px 10px 36px;
			position: relative;
			.icon { 
				position: absolute;
				display: block;
				height: 100%;
				width: 40px;
				right: 0;
				top: 0;
				bottom: 0;
				padding-top: @padding-base-vertical;
				padding-bottom: @padding-base-vertical;
				background: darken(@nijdra-green, 5%);
				&:before {
					position: absolute;
					display: block;
					top: 0;
					left: -12px;
					content: "";
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 0 41px 12px;
					border-color: transparent transparent darken(@nijdra-green, 5%) transparent;
				}
				&:after {
					.material-icons;
					content: "trending_flat";
					font-size: 21px;
					line-height: 29px;
					color: #fff;
					display: inline-block;
				}
			}
			&:hover .icon {
				background: darken(@nijdra-green, 15%);
				&:before {
					border-color: transparent transparent darken(@nijdra-green, 15%) transparent;
				}
			}
			&.btn-download .icon:after { content: "vertical_align_bottom"; }
		}
//	  .button-size(@padding-base-vertical; @padding-base-horizontal; @font-size-base; @line-height-base; @btn-border-radius-base);
	}

	.buttons-set {
		margin: 30px 0 20px 0;
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {  
		
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  

	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
	
	}
}