#nijdra_eu {
	
	.no-gutter {
		margin-left: 0;
		margin-right: 0;
		> div[class*='col-'] {
			padding-right: 0;
			padding-left: 0;
		}
	}
	
	.breadcrumb {
		background: none;
		padding-left: 0;
		padding-right: 0;
		> li { color: #999; }
		> li + li:before { 
			color: #ccc;
		}
		> li > a { color: #333; }
	}
	
	.pagination {
		.clearfix();
		display: block;
		border-radius: 0;
		> li > a {
			border-radius: 0;
		}
		.page-previous { 
			.pull-left(); 
			display: block;
		}
		.page-next { 
			.pull-right(); 
			display: block;
		}
	}

	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {  
		
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  

	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
	
	}
}