#nijdra_eu .page-footer {
	
	color: #fff;
	background: #222;
	padding: 50px 0 0 0;
	
	.block.text {
		text-align: center;
		margin-bottom: 30px;
		.title {
			margin-bottom: 20px;
			strong { 
				.ubuntu(19px, 500, @headings-line-height);
				display: block;
			}
		}
		.content {
			a { color: #fff; }
			p > a { color: #fff; text-decoration: underline; }
		}
	}
	
	.block.links {
		.content {
			ul { 
				.list-unstyled(); 
				margin: 0 0 30px 0;
				padding: 0;
				> li {
					a { 
						text-decoration: none;
						display: block;
						padding: 10px 0;
					}
				}
				> li:not(:last-child) {
					border-bottom: 1px solid #444;
				}
			}
		}
	}
	
	.block.agenda {
		.content {
			ol { 
				.list-unstyled(); 
				margin: 0 0 30px 0;
				> li {
					margin-bottom: 10px;
					font-weight: 300;
					> a { 
						font-weight: 500; 
						text-decoration: none;
						&:hover:after {
							.material-icons;
							font-size: 16px;
							content: "open_in_new";
							color: darken(#fff, 50%);
							display: inline-block;	
							margin-left: 4px;
							line-height: 1;
						}
					}
					ul { 
						.list-unstyled();
						margin: 0;
						padding: 0; 
						> li { margin: 0; }
					}
				}
			}
		}
	}
	
	.block.news {
		.content {
			h4 { font-size: 16px; font-weight: 500; }
			h4 a { text-decoration: none; }
		}
	}
	
	.block.contact {
		.content {
		}
	}
	
	.footnote {
		margin: 100px 0 0 0;
		padding: 25px 0;
		background: @nijdra-darkest-blue;
		text-align: center;
		> .container {
			position: relative;
			
			p { margin: 25px 0 5px 0; }
			
			ul {
				.list-inline();
				margin: 0;
				padding: 0;
				> li a { color: #fff; }
			}
			
			.scroll-top {
				.translate(-50%, 0);
				position: absolute;
				top: -50px;
				left: 50%;
				background: @nijdra-darkest-blue;
				a {
					text-decoration: none;
					position: relative;
					display: block;
					width: 28px;
					height: 28px;
					border-radius: 14px;
					border: 2px solid @nijdra-green;
					text-align: center;
					&:before {
						display: inline-block;
						.material-icons;
						content: "keyboard_arrow_up";
						font-size: 25px;
						line-height: 25px;
						color: @nijdra-green;
					}
				}
			}
			&:before {
				.translate(-50%, 0);
				position: absolute;
				left: 50%;
				top: -65px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 108px 40px;
				border-color: transparent transparent @nijdra-darkest-blue transparent;

			}
		}
	}		

	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.block.text {
			text-align: left;
		} 
		
		.footnote { text-align: left; }
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		
		.footnote {
			> .container {
				p { margin: 0; }
				ul {
					.pull-right();
				}
				.scroll-top {
					a {
						width: 54px;
						height: 54px;
						border-radius: 27px;
						&:before {
							font-size: 50px;
							line-height: 50px;
						}
					}
				}
				&:before {
					.translate(-50%, 0);
					position: absolute;
					left: 50%;
					top: -70px;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 215px 56px 215px;
					border-color: transparent transparent @nijdra-darkest-blue transparent;
	
				}
			}
		}

	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
	
	}
}