#nijdra_eu {
	
	form.form {
		margin: 40px 0 30px 0;
		
		label.error {
			margin-top: 2px;
			font-size: @font-size-small;
			color: @state-danger-text;
			font-weight: 300;
		}
		
		.buttons-set {
			margin: 30px 0 0 0;
			border-top: 1px solid @input-border;
			background: #f2f2f2;
			padding: 25px 0;
		}
		
	}
	
	.form-horizontal {
		.control-label { text-align: left; }
	}
	
	.form-control {
		box-shadow: none;
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {  
		
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  

	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
	
	}
}