#nijdra_eu { 
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	padding-top: @navbar-height;
	
	.page > .page-header {
		background: #fff;
		border: none;
		margin: 0;
		padding: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1100;
		box-shadow: 0 0 20px rgba(0,0,0,.25);
		
		.navbar { 
			border: none;
			margin: 0;
			.navbar-collapse { 
				box-shadow: none !important;
				max-height: @navbar-collapse-max-height;
			}
		}
		
		.navbar-top {
			
			.navbar-header { 
				.pull-left(); 
				.navbar-brand {
					padding: 10px 15px;
					img { width: 70px; height: auto; }
				}
			}
						
			.navbar-toggle {
			    .pull-right();
				border: none;
				border-radius: 0;
				height: @navbar-height;
				width: @navbar-height;
				margin: 0 -15px 0 0;
				background: @nijdra-green;
				&:before {
					.material-icons;
					color: #fff;
					font-size: 26px;	
					content: "close";
				}
				&.collapsed:before {
					content: "menu";
				}
			}
			
			.navbar-nav {
				.pull-right();
				.navbar-vertical-align(23px);
				margin-right: 10px;
				> li {
					> a {
						padding: 6px 8px;
						font-size: 14px;
						color: #555;
						background: none;
						text-decoration: none;
						position: relative;
						&:hover, &:focus {
							background: none;
							text-decoration: none;
						}
					}
					&.active > a {
						color: @nijdra-green;
					}
					&:last-child a:after {
						.ubuntu(13px, 400, @line-height-computed);
						display: inline-block;
						border-radius: 3px;
						background: @nijdra-green;
						text-align: center;
						color: #fff;
						min-width: 21px;
						margin-left: 4px;
					}
				}
			}
			
			.navbar-language {
				.pull-right();
				.navbar-vertical-align(23px);
				margin-right: 10px;
				> li.language {
					.dropdown > a { 
						color: #555; 
						text-decoration: none; 
						&:active, &:focus {
							background: none;
						}
					}
					.flag-icon { 
						width: 16px; 
						line-height: @line-height-computed;
						vertical-align: middle;
						margin-right: 2px;
					}
					.material-icons { 
						font-size: 20px;
						line-height: @line-height-computed;
						vertical-align: middle;
						color: #333;
					}
					.caret { 
						color: #555;
						line-height: @line-height-computed; 
					}
					.dropdown-menu {
						.dropdown-menu-right();
						> li > a { 
							font-size: 14px; 
						}
					}
				}
			}
		}
		
		.navbar-default {
			border: none;
			min-height: 0;
			.navbar-nav {
				> li {
					position: relative;
					&.has-children {
						position: relative;
						/* subnavigation */
						> ul {
							.list-unstyled();
							padding: 8px 0;
							> li {
								> a { 
									.ubuntu(14px, 400, 1.25);
									color: lighten(@navbar-default-link-color, 5%);
									display: block; 
									padding: 10px @navbar-padding-vertical;
									text-decoration: none;
									&:hover {
										background: darken(@nijdra-green, 5%);
									}
								}
								&.active > a {
									color: @navbar-default-link-parent-active-color;
								}
							}
						}
					}
					> a {
						.transition(~"color ease-in-out .15s");
						font-size: @theme-navbar-font-size;
						&:hover { background: darken(@nijdra-green, 5%); }
					}
					&.parent-active > a {
						background: @navbar-default-link-parent-active-bg;
						color: @navbar-default-link-parent-active-color;
					}
				}
				&.navbar-extra {
					> li:last-child a:after {
						.ubuntu(13px, 400, @line-height-computed);
						display: inline-block;
						border-radius: 3px;
						background: #fff;
						text-align: center;
						color: @nijdra-green;
						min-width: 21px;
						margin-left: 4px;
					}
				}
			}
			
			.navbar-form {
				.form-control { 
					border-radius: 0; 
					border-color: #fff;
				}
			}
			
		}
		
	}
    	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {  
		
		padding-top: @navbar-height + @navbar-top-height;
		
		.page > .page-header {
			box-shadow: none;
			
			.navbar-top {
				
				.navbar-header {
					.navbar-brand {
						img { width: 120px; height: auto; }
					}
				}
				
				.navbar-nav {
					.navbar-top-vertical-align(@input-height-base);
				}
				
				.navbar-language {
					.navbar-top-vertical-align(23px);
				}
				
				.navbar-form {
					.navbar-top-vertical-align(@input-height-base);
					padding-left: 5px;
					.form-group {					
						.form-control {
							.transition(~"all ease-in-out .35s");
							border: none;
							box-shadow: none;
							border-radius: 0;
							border-bottom: 2px solid transparent;
							padding-left: 8px;
							max-width: 200px;
							width: @input-height-base;
							background: none;
							&:focus {
								width: auto;
								border-bottom-color: @nijdra-green;
							}
						}
						.form-control-feedback {
							z-index: 3;
							.material-icons { line-height: @input-height-base }
						}
					}
					.form-group.has-feedback .form-control {
						padding-right: @line-height-computed;
					}
				}
			}
			
			.navbar-default {
				
				.navbar-nav {			
					> li > a { 
						padding-left: 10px;
						padding-right: 10px;
					}	
					> li.has-children {
						> a {
							padding-left: 10px;
							padding-right: 10px;
							&:after {
								.material-icons;
								content: "arrow_drop_down";
								display: inline-block;
								color: darken(@nijdra-green, 10%);
								line-height: 0;
							}
						}
					}
					> li.has-children > ul {	
						.transition(~"opacity ease-in-out .15s");								
						visibility: hidden;
						position: absolute;
						top: @navbar-height;
						background: @navbar-default-link-hover-bg;
						left: 0;
						width: 190px;
						opacity: 0;
						padding: 0;
						z-index: 1040;
					}
					> li.has-children:hover > a { 
						background: @navbar-default-link-hover-bg; 
					}
					> li.has-children:hover > ul {
						opacity: 1;
						visibility: visible;
						display: block;
					}
					> li.has-children > ul > li a {
						padding-left: 10px;
						padding-right: 10px;
						&:hover { background: darken(@navbar-default-link-hover-bg, 5%); }
					}
				}
			}
			
			.navbar-nav.social {
				> li {
					> a { 
						font-size: 19px;
						&:hover { background: none; }
					}
				}
			}
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page > .page-header {
			
			.navbar-default {
				.navbar-nav > li > a { 
					padding: @navbar-padding-vertical @navbar-padding-horizontal;
				}
			}
		}
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		.page-header {
		}
	}
}