#nijdra_eu {
	.page-main {
		
		.section.masthead {
			background: #ccc;
			padding: 0 !important;
			> .background {
				position: relative;
				width: 100%;
				max-width: 1920px;
				margin-left:  auto;
				margin-right: auto;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center center;
				min-height: 0;
				padding-bottom: 78%;
				overflow: hidden;
				height: 0;	
				.block.text {
					position: absolute;
					bottom: @theme-section-padding-vertical/2;
					left: 0;
					z-index: 1040;
					width: 100%;
					.title { 
						margin: 0 0 10px 0; 
						h1, .h1 { 
							.ubuntu(25px, 500, 1.15);
							color: #fff; 
							margin: 0;
							a { color: #fff; text-decoration: none; }
						}
						h2, .h2 {
							.ubuntu(20px, 300, 1.15);
							color: #fff; 
							margin: 10px 0 0 0;
							a { color: #fff; text-decoration: none; }
						}
					}
				}
				> .scroll-hint {
					display: block;
					position: absolute;
					left: 50%;
					bottom: 5px;
					margin-left: -15px;
					width: 30px;
					text-align: center;
					color: #fff;
					background-size: contain;
					z-index: 1040;
					a { color: #fff; }
				}	
				&:before {
					z-index: 1020;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					z-index: 1010;
					content: "";
					display: block;
					#gradient > .horizontal(rgba(0,0,0,1); rgba(0,0,0,0););
				}				
			}
		}
				
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {  
		
		.page-main {
			.section.masthead {
				> .background {
					padding-bottom: 52%;
					.block.text {
						.title {
							h1, .h1 { font-size: 35px; }
							h2, .h2 { font-size: 25px; }
						}
					}
				}
			}
		}
		
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		
		.page-main {
			.section.masthead {
				> .background {
					padding-bottom: 26%;
					.block.text {
						.title {
							h1, .h1 { font-size: 50px; }
							h2, .h2 { font-size: 30px; }
						}
					}
				}
			}
		}

	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {
			.section.masthead {
				> .background {
					padding-bottom: 20%;
				}
			}
		}
	
	}
}