.ubuntu(@font-size: @font-size-base, @font-weight: 400, @line-height: @line-height-base, @letter-spacing: normal) {
	font-family: "Ubuntu", sans-serif;
	font-size: @font-size;
	font-weight: @font-weight;
	line-height: @line-height;
	letter-spacing: @letter-spacing;
}

.material-icons(@font-size: @font-size-base, @font-weight: 400, @line-height: @line-height-base, @letter-spacing: normal) {
	font-family: "Material Icons", sans-serif;
	font-size: @font-size;
	font-weight: @font-weight;
	line-height: @line-height;
	letter-spacing: @letter-spacing;
}

.navbar-top-vertical-align(@element-height) {
  margin-top: ((@navbar-top-height - @element-height) / 2);
  margin-bottom: ((@navbar-top-height - @element-height) / 2);
}
.navbar-mobile-vertical-align(@element-height) {
  margin-top: ((@navbar-height - @element-height) / 2);
  margin-bottom: ((@navbar-height - @element-height) / 2);
}

.triangle-base() {
    content: '';
    display: block;
    width: 0;
    height: 0;
    -moz-transform: scale(.9999);
}
.triangle(@direction, @size, @color) {
    .triangle(@direction, @size * 2, @size, @color);
}
.triangle(@direction, @width, @height, @color) when (@direction = up) {
    .triangle-base();
    border-left: (@width / 2) solid transparent;
    border-right: (@width / 2) solid transparent;
    border-bottom: @height solid @color;
}
.triangle(@direction, @width, @height, @color) when (@direction = down) {
    .triangle-base();
    border-left: (@width / 2) solid transparent;
    border-right: (@width / 2) solid transparent;
    border-top: @height solid @color;
}
.triangle(@direction, @width, @height, @color) when (@direction = left) {
    .triangle-base();
    border-top: (@width / 2) solid transparent;
    border-bottom: (@width / 2) solid transparent;
    border-right: @height solid @color;
}
.triangle(@direction, @width, @height, @color) when (@direction = right) {
    .triangle-base();
    border-top: (@width / 2) solid transparent;
    border-bottom: (@width / 2) solid transparent;
    border-left: @height solid @color;
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	
	/* Support for IE. */
	font-feature-settings: 'liga';
	
	display: inline-flex;
	vertical-align: middle;
}