#nijdra_eu {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
		
		.section {
			padding-top: @theme-section-padding-vertical/2;
			padding-bottom: @theme-section-padding-vertical/2;
			.section-title {
				margin: 0 0 20px 0;
				text-align: center;
				h1, .h1, h2, .h2 { 
					margin: 0; 
					color: @nijdra-darkest-blue; 
					font-size: 20px;
					hyphens: auto;
				}
			}
			> .container-fluid {
				max-width: 1440px;
			}
		}
		
		.section.intro {
			background: @theme-section-bg;
			.block.text {
				.content {
					.quote { max-width: 505px; }
					h2 { color: @nijdra-blue; font-size: 20px; }
					h3 { color: @nijdra-blue; font-size: 18px; }
					.row > div[class*='col-'] > h2:first-of-type { margin-top: 0; }
				}
			}
		}
		
		.section.services {
			
			.container-fluid > .row.no-gutter:not(:last-child) { margin-bottom: @theme-section-padding-vertical; }
				
			.block.text {
				position: relative;
				margin-top: 30px;
				.title {
					margin-bottom: 25px;
					h3 { 
						color: @nijdra-green;
						font-size: 20px; 
						font-weight: 500; 
						a { text-decoration: none; }
					}
				}
			}	
		}
		
		.section.showcase {
			
			.container-fluid > .row.no-gutter:not(:last-child) { margin-bottom: @theme-section-padding-vertical; }
			
			.block.text {
				position: relative;
				background: @nijdra-blue;
				color: #fff;
				padding: 30px;
				.title {
					margin-bottom: 25px;
					h3 { 
						color: #fff;
						font-size: 20px; 
						font-weight: 500; 
						a { text-decoration: none; }
					}
				}
			}
			.figure {
				box-shadow: 0 0 20px rgba(0,0,0,.25);
			}
			
		}
		
		.section.sectors {
			> .container-fluid { 
				max-width: 1920px; 
				position: relative;
			}
			.section-title {
				margin: 0 0 @theme-section-padding-vertical/2 0;
			}
			.carousel {
				max-width: 1440px;
				margin-left: auto;
				margin-right: auto;
				.slick-slide { 
					padding: 0 15px; 
					box-sizing: border-box; 
					border: 2px solid transparent; 
					border-width: 0 2px; 
					&.slick-center {
						border-left-color: @theme-section-bg;
						border-right-color: @theme-section-bg;
					}
				} /* the slides */
				.slick-list { margin: 0 -15px; } /* the parent */
				ul { .list-unstyled(); }
				ul li {
					.figure { 
						.caption {
							.ubuntu(21px, 500, @headings-line-height);
							color: @nijdra-darkest-blue;
							margin-top: 20px;
							display: block;
							text-align: center;	
						}
					}
				}
			}
			.carousel-controls { 
				.responsive-invisibility(); 
			}	
			.carousel-pagination {
				.clearfix();
				margin: 30px 0 0 0;
				.slick-dots { position: static; top: auto; bottom: auto; text-align: center; }
	            .slick-dots li { margin: 0 5px; display: inline-block; text-align: center; width: 12px; height: 12px; }
	            .slick-dots li button { display: inline-block; width: 12px; height: 12px; border-radius: 6px; outline: none; background: #ccc; }
	            .slick-dots li button:before { content: ""; line-height: 22px; position: static; height: 12px; width: 12px; }
	            .slick-dots li.slick-active button { background: @nijdra-darkest-blue; }
			}
		}
		
		.section.complementary {
			#gradient > .horizontal(rgba(171,178,182,1); rgba(255,255,255,1););
			.block.text {
				.title {
					.h2 { font-size: 20px; }
				}
			}
		}
		
		.section.contact {
			.block.text {		
				padding: 30px;
				background: @nijdra-green;
				color: #fff;
				.title {
					margin-bottom: 15px;
					h2 { font-size: 20px; }
				}
				.content {
					.lead { font-weight: 300; color: #fff; }
					p { color: #fff; }
					a { color: #fff; }
					ul {
						.list-unstyled();
						.make-row();
						margin-top: 20px;
						margin-bottom: 0;
						> li { .make-md-column(6); font-size: 21px; }
						> li a { color: #fff; text-decoration: none; }
					}
				}
			}
		}
		
		.section.maps {		
			padding: 0;
			position: relative;
			> .replace-map {
				width: 100%;
				min-height: 0;
				padding: 0;	
				height: 0;
				padding-bottom: 78%;
				background: #ccc;
				position: relative;
				z-index: 900;
			}
			> .overlay {
				.container-fluid { 
					position: static;
					.block.text {
						background: #fff;
						padding: @theme-section-padding-vertical/2 0;
						.title {
							margin-bottom: 20px;
							h3 { 
								font-weight: 500;
								font-size: 20px; 
								color: @nijdra-green;
								margin: 0; 
							}
						}
						.content {
							p > strong { font-size: 16px; }
						}
					}
				}
			}
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {
		.page-main {
			
			.section {
				.section-title {
					h1, .h1, h2, .h2 { 
						font-size: @font-size-h2;
					}
				}
			}
			
			.section.intro {				
				.block.text {
					.content {
						h2 { font-size: @font-size-h2; }
						h3 { font-size: @font-size-h3; }
					}
				}
			}
			
			.section.complementary {
				.block.text {
					.title {
						.h2 { font-size: 30px; }
					}
				}
			}
			
			.section.showcase {
				.block.text {
					.title {
						h3 { font-size: 30px; }
					}
					margin-top: 30px;
				}
			}
			
			.section.contact {
				padding: 50px 0;
				.block.text {
					.title {
						h2 { font-size: 26px; }
					}
					.content {
						.lead { font-size: 21px; }
					}
				}
			}
			
			.section.maps {
				> .overlay {
					.container-fluid { 
						.block.text {
							.title {
								h3 { font-size: 30px; }
							}
						}
					}
				}
			}
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {
		.page-main {
			
			.section.services {
				.block.text {
					padding: 60px;
					.title {
						h3 { font-size: 30px; }
					}
				}
			}
			
			.section.showcase {
				.block.text {
					padding: 60px;
				}
				.container-fluid > .row.no-gutter:nth-child(odd) {
					.block.text {
						position: relative;
						right: -85px;
						max-width: 440px;
						&:before {
							position: absolute;
							display: block;
							top: 0;
							right: -25px;
							content: "";
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 25px 25px 0 0;
							border-color: @nijdra-blue transparent transparent transparent;
						}
					}
				}
				.container-fluid > .row.no-gutter:nth-child(even) {
					.block.text {
						position: relative;
						left: -60px;
						max-width: 440px;
						&:before {
							position: absolute;
							display: block;
							top: 0;
							left: -25px;
							content: "";
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 25px 0 0 25px;
							border-color: @nijdra-blue transparent transparent transparent;
						}
					}
				}
			}
			
			.section.maps {	
				> .replace-map { padding-bottom: 52%; }			
				> .overlay {
					position: absolute;
					top: 50px;
					width: 100%;
					height: 1px;
					z-index: 999;
					.container-fluid { 
						.clearfix();
						height: 1px;
						max-width: 1440px;
						.block.text {
							.pull-right();
							width: 100%;
							max-width: 400px;
							padding: @theme-section-padding-vertical;
							padding-bottom: 30px;
							.content {
								a:not(.btn) { color: @nijdra-green; text-decoration: none; }
							}
						}
					}
				}
			}
		}
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
			.section {
				padding-top: @theme-section-padding-vertical ;
				padding-bottom: @theme-section-padding-vertical;
				.section-title {
					margin: 0 0 30px 0;
				}
			}
			
			.section.sectors {
				.carousel-controls {
					.responsive-visibility();
					.control {
						.translate(0, -50%);
						padding: 0 15px;
						position: absolute;
						z-index: 1030;
						top: 50%;
						color: #fff;
						display: block;
						text-align: center;
						text-decoration: none;
						cursor: pointer;
						background: @nijdra-green;
						color: #fff;
						width: 48px;
						text-align: center; 
						.material-icons { line-height: 84px; }
						&.prev { left: 30px; }
						&.next { right: 30px; }
						&:hover {
							background: darken(@nijdra-green, 5%);
						}
					}
				}	
			}
			
			
		}
	}

}