#nijdra_eu {
	
	.block.text {
		.content {
			
			.table {
				thead > tr > td,
				thead > tr > th { 
					color: @nijdra-green;
					font-weight: 500;
					border-bottom-width: 1px;
				}
				tbody > tr > th {
					font-weight: 500;
				}
			}
			
		}
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {  
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
	
	}
}