#nijdra_eu {
	.ubuntu();
	
	.lead {
		.ubuntu(16px, 500);
		color: @nijdra-darkest-blue;
	}
	
	.block.text {
		.title {
			h1, h2, h3, h4, h5, h6,
			.h1, .h2, .h3, .h4, .h5, .h6 {
				margin: 0;
				color: @headings-color;
				hyphens: auto;
				line-height: @headings-line-height;
				a { 
					color: @headings-color;
					text-decoration: none; 
				}
			}
		}
		.content {
			
			img { max-width: 100%; height: auto !important; }
			
			.quote {
				.ubuntu(21px, 300, 1.5em);
				text-align: left;
				color: @nijdra-blue;
				font-style: italic;
				border: 1px solid #9eafb7;
				border-width: 2px 0;
				padding: 10px 5px;
				margin: 20px 0;	
			}
			
			ul, ol {
				margin: 20px 0 20px 20px;
				padding-left: 0;
				list-style-position: inside;
				> li { margin-top: 6px; }
			}
			
			a:not(.btn) { color: @nijdra-blue; text-decoration: underline; }
			
		}
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {  
		
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.block.text {
			.content {
				.quote {
					.ubuntu(37px, 300, 1.5em);
					padding: 20px 15px 25px 15px;	
					text-align: left;
					margin: 20px 0;	
				}
			}
		}

	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
	
	}
	
}