@nijdra-green: #007934;
@nijdra-light-green: #d6ebd5;
@nijdra-blue: #1b404f;
@nijdra-dark-blue: #d0dde5;
@nijdra-darkest-blue: #001b26;
@nijdra-light-blue: #61879b;
@nijdra-lighter-blue: #d0dde5;

@theme-section-bg: #d7dfe4;
@theme-section-padding-vertical: 50px;

// Fonts sizes
@font-size-base: 15px;
@theme-headings-letter-spacing: 0.05em;

// Navbars
@theme-navbar-font-size: 15.5px;
			
@navbar-default-bg: @nijdra-green;
@navbar-default-border: @nijdra-green;

@navbar-height: 60px;
@navbar-border-radius: 0;

@navbar-default-color: #fff;
@navbar-default-link-color: #fff;
@navbar-default-link-active-bg: @nijdra-green;
@navbar-default-link-active-color: @nijdra-light-green;
@navbar-default-link-parent-active-bg: @nijdra-green;
@navbar-default-link-parent-active-color: @nijdra-light-green;
@navbar-default-link-hover-bg: darken(@nijdra-green, 5%);
@navbar-default-link-hover-color: #fff;

@navbar-top-height: 88px;

// Buttons
@btn-border-radius-base: 0;
@btn-font-weight: 		300;
@btn-primary-color: 	#fff; 
@btn-primary-bg:		@nijdra-green; 
@btn-primary-border:	@nijdra-green;

@font-size-h1:	38px;
@font-size-h2:	30px;
@font-size-h3:	21px;
@headings-line-height: 1.5;

// Forms
@input-bg: #f2f2f2;
@form-group-margin-bottom: 25px;

// Tables
@table-border-color: #ccc;

// Pagination
@pagination-color: #fff;
@pagination-hover-color: @nijdra-darkest-blue;
@pagination-bg: @nijdra-darkest-blue;
@pagination-border: @nijdra-darkest-blue;

@dropdown-link-hover-bg: @nijdra-green;
@dropdown-link-hover-color: #fff;
@dropdown-link-active-bg: @nijdra-light-green;
@dropdown-link-active-color: @nijdra-green;