#nijdra_eu.view-productie {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
		
		.section.complementary {
			padding: 0;
			position: relative;
			.block.text {
				padding-top: @theme-section-padding-vertical/2;
				padding-bottom: @theme-section-padding-vertical/2;
				.title {
					margin-bottom: 15px;
					.h2 { color: @nijdra-darkest-blue; }
				}
				.content {
					ul { margin: 0; }
				}
			}
		}
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {	
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
			
			.section.complementary {
				.block.text {					
					padding-top: @theme-section-padding-vertical;
					padding-bottom: @theme-section-padding-vertical;
				}
			}
			
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {	
			
		}
	}

}