#nijdra_eu.view-vacatures {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
		
		.section.main {
			padding-bottom: 0;
			.block.list {
				padding: 30px;
				box-shadow: 0 0 20px rgba(0,0,0,.25);
				.content {
					ul { 
						.list-unstyled(); 
						margin: 0;
						> li { 
							display: block; 
							margin: 4px 0 0 0;
							padding: 4px 0;
							&:not(:last-child) {
								border-bottom: 1px solid @theme-section-bg;
							}
							> a {
								.clearfix();
								display: block;
								padding: 6px 8px;
								text-decoration: none;
								font-size: 18px;
								color: #000;
								font-weight: 500;
								&:after {
									.material-icons;
									.pull-right();
									display: block;
									text-align: right;
									content: "chevron_right";
									color: @nijdra-green;
								}
							}
						}
					}
				}
			}
			
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
						
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
		}
	}

}