#nijdra_eu.view-search-results {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
		
		.section.main {

			.block.text {
				> .title {
					text-align: center;
					margin-bottom: 25px;
				}
				.content {
					text-align: center;
				}
			}
			
			.block.list {
				.content {
					> ul { .list-unstyled(); }
					> ul > li {
						margin-top: 30px;
						> .title { 
							text-align: left;
							margin: 0 0 4px 0;
							a { 
								color: @headings-color;
								text-decoration: none; 
							}
						}
						.details {
							.list-unstyled();
							margin: 0 0 8px 0;
							padding: 0;
							> li {
								font-size: @font-size-small;
								&.link { 
									a { 
										text-decoration: none; 
										color: @nijdra-green; 
										&:hover { text-decoration: underline; }
									}
								}
							}
						}
					}
				}
			}
			
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
						
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
		}
	}

}