#nijdra_eu.view-static {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
		
		.section.main {

			.block.text {
				.title {
					margin-bottom: 25px;
					h1 { font-size: 20px; }
				}
			}
		}
		
	}
	
	&.view-static-12,
	&.view-static-13,
	&.view-static-40,
	&.view-static-41,
	&.view-static-53,
	&.view-static-54 {
		.section.main {
			.block.text {
				.content {
					.table > tbody > tr > th { min-height: 32px; padding-top: 15px; }
				}
			}
		}
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {
		
			.section.main {
	
				.block.text {
					.title {
						h1 { font-size: @font-size-h1; }
					}
				}
				
			}
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
						
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
		}
	}

}