#nijdra_eu.view-contact {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
		
		.section.main {
			
			.block.address {
				background: #001b26;
				color: #fff;
				padding: 30px;
				margin-bottom: 30px;
				.title { 
					margin-bottom: 25px;
					.h2 { font-size: 20px; }
				}
				.content {
					
					a { color: #fff; text-decoration: none; }
					
					.table {
						tbody > tr > td,
						tbody > tr > th { border: none; padding: 3px 0; }
					}
				}
			}
			
			.block.text.form {
				.title {
					margin-bottom: 25px;
					h2 { 
						font-size: 20px;
						color: @nijdra-green; 
					}
				}
				.content {
					form.form {
						margin-bottom: 0;
					}
				}
			}
			
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {
			
			.section.main {
				.block.address {
					padding: 50px;
					.title {
						.h2 { font-size: @font-size-h2; }
					}
				}
				.block.text.form {
					.title {
						h2 { font-size: @font-size-h2; }
					}
				}
			}
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
						
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
		}
	}

}