#nijdra_eu.view-agenda {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
		
		.section.main {
			.block.text {
				margin-bottom: @theme-section-padding-vertical;
				.content {
					text-align: center;
				}
			}
			.block.list {
				padding: 30px;
				box-shadow: 0 0 20px rgba(0,0,0,.25);
				margin-bottom: @theme-section-padding-vertical;
				.content {
					> ol { 
						.list-unstyled(); 
						margin: 0;
						padding: 0;
						> li {
							&:not(:last-child) {
								padding-bottom: 10px;
								margin-bottom: 12px;
								border-bottom: 1px solid @theme-section-bg;
							}
							h2 { 
								font-weight: 500;
								margin: 0 0 8px 0; 
								a { 
									display: block;
									color: @nijdra-green; 
									text-decoration: none;
									&:hover:after {
										.material-icons();
										content: "link";
										color: darken(#fff, 50%);
										display: inline-block;	
										margin-left: 4px;
										line-height: 1;
									}
								}
							}
							> ul {
								.list-unstyled();
								.make-row();
								> li { .make-md-column(6); }
							}
						}
					}
				}
			}
			
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
			.section.main {
				
				.block.list {
					.content {
						ol > li { 
							ul { 
								> li:first-child { text-align: left; }
								> li:last-child { text-align: right; }
							}
						}
					}
				}
				
			}
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
		}
	}

}