#nijdra_eu.view-sitemap {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */

	.page-main {		
		.section.main {

			.block.text {
				.content {
					.sitemap { 
						.list-unstyled();
						padding: 0;
						margin: 0;
						> li {
							margin-top: 20px;
						}
						> li > a { 
							font-size: @font-size-large;
							color: #000; 
							text-decoration: none; 
							&:hover {
								text-decoration: underline;
							}
						}
						ul {
							.list-unstyled();
							margin-left: 4px;
							padding-left: 30px;
							border-left: 4px solid @nijdra-lighter-blue;
							> li > a {
								text-decoration: none;
								&:hover {
									text-decoration: underline;
								}
							}
							> li { 
								margin-top: 10px;
							}
						}
					}
				}
			}
			
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
						
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
		}
	}

}
