#nijdra_eu.view-about {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
				
		.section.usps {
			.section-title {
				margin-bottom: 50px;
			}
			.block.text {
				text-align: center;
				margin-bottom: 30px;
				.icon { 
					display: block;
					margin: 0 auto 20px auto;
					width: 80px;
					height: 80px;
					border-radius: 40px;
					background: @nijdra-green;
					text-align: center;
					.material-icons {
						line-height: 80px;
						font-size: 50px;
						color: #fff;
					}
				}
				.title {
					margin-bottom: 15px;
					h3 { 
						font-size: 21px;
						font-weight: 700;
					}
				}
			}
		}
		
		.section.timeline {
			background: @theme-section-bg;
			padding-bottom: 0;
			ol {
				.list-unstyled();
				position: relative;
				margin: 0;
				/* vertical line */
				&:after {
					content: "";
					display: block;
					width: 2px;
					height: 100%;
					position: absolute;
					top: 0;
					left: 30px;
					background: #adb4b8;
					
				}
				> li {
					display: block;
					margin-bottom: 30px;
					padding-left: 60px;
					position: relative;
					&:last-child { margin-bottom: 0; }
					&:first-child {
						.figure:before {
							width: 25px;
							height: 25px;
							border-radius: 25px/2;
						}
					}
					
					.figure { 
						position: relative;
						margin-bottom: 30px;
						> figure { 
							> img {
								padding: 4px; 
								background: #fff; 
								display: inline-block;
							}
						}
						/* horizontal line */
						&:after {
							content: "";
							display: block;
							width: 30px;
							height: 2px;
							position: absolute;
							left: -30px;
							top: 50%;
							z-index: 100;
							background: #adb4b8;
						}
						/* circle/dots */
						&:before {
							content: "";
							display: block;
							width: 16px;
							height: 16px;
							border-radius: 8px;
							background: @nijdra-green;
							position: absolute;
							top: 50%;
							left: -30px;
							z-index: 110;
							.translate(-50%, -50%);
						}
					}
					.content {
						margin-bottom: 30px;
						h3 {
							font-weight: 600;
							display: block;
							margin:  0 0 10px 0;
						}
					}
				}
			}
		}
		
		.section.certificates {
			padding-bottom: 0;
			.block.text {
				.make-row();
				.content {
					.make-lg-column(8);
					.make-lg-column-offset(2);
					text-align: center;
					
					h3 { 
						text-align: left; 
						color: @nijdra-green; 
						margin: 30px 0 15px 0;
						padding: 0 0 10px 0;
						border-bottom: 2px solid @theme-section-bg;
						&:first-of-type { margin-top: 50px; }
					}
					
					ul { 
						.list-unstyled();
						text-align: left;
						padding: 0;
						margin: 0;
						> li {
							.clearfix();
							margin-top: 10px;
							a { 
								color: @nijdra-blue;
								text-decoration: underline;
								.pull-right(); 
							}
						}
					}
					
				}
			}
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
						
			.section.timeline {
				padding-bottom: 0;
				ol {
					margin: 0;
					padding-bottom: @theme-section-padding-vertical /2;
					&:after { 
						top: 141.5px; 
						height: calc(~"100% - 141.5px"); 
						left: 50%; 
						margin-left: -1px; 
					} /* vertical line */
					> li {
						margin: 0;
						padding-left: 0;
						.content { padding-top: 25px; }
						.figure:after { width: 30px; } /* horizontal line */	
						&:nth-child(odd) {
							.figure { text-align: left; padding-left: 15px; }
							.figure:after { left: -15px; right: auto; } /* horizontal line */
							.figure:before { left: -15px; right: auto; } /* circle/dots */
							.content { text-align: left; padding-right: 15px; }
						}
						&:nth-child(even) {
							.figure {  text-align: right; padding-right: 15px; }
							.figure:after { right: -15px; left: auto; } /* horizontal line */
							.figure:before { left: auto; right: -30px; } /* circle/dots */
							.content { text-align: left; padding-left: 15px; }
						}
					}
				}
			}
						
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
			.section.usps {
				.block.text {
					padding: 0 40px;
				}
			}
			
			.section.timeline {
				ol {
					padding-bottom: @theme-section-padding-vertical;
					&:after { 
						top: 141.5px; 
						height: calc(~"100% - 141.5px"); 
						left: 50%; 
						margin-left: -1px; 
					} /* vertical line */
					> li {
						.content { padding-top: 50px; }
						.figure:after { width: 127.5px; } /* horizontal line */	
						&:nth-child(odd) {
							.figure { text-align: left; }
							.figure:after { left: -112.5px; right: auto; } /* horizontal line */
							.figure:before { left: -112.5px; right: auto; } /* circle/dots */
							.content { text-align: left; }
						}
						&:nth-child(even) {
							.figure {  text-align: right; }
							.figure:after { right: -112.5px; left: auto; } /* horizontal line */
							.figure:before { left: auto; right: -128.5px; } /* circle/dots */
							.content { text-align: left; }
						}
						&:first-child {
							.figure:before {
								width: 25px;
								height: 25px;
								border-radius: 25px/2;
							}
						}
					}
				}
			}
			
		}
	}

}