#nijdra_eu.view-news {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
		
		.section.main {
			.block.text {
				.content {
					text-align: center;
				}
			}
		}
		
		.section.news {
			background: @theme-section-bg;
			.block.article {
				position: relative;
				background: #fff;
				padding: 25px;
				margin-bottom: 30px;
				.title {
					margin-bottom: 15px;
					h3 { 
						font-size: 18px; 
						font-weight: 500; 
						a { text-decoration: none; }
					}
				}
			}
		
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {
			
			.section {
				.section-title {
					h1, .h1 { 
						font-size: @font-size-h1;
					}
				}
			}
			
			.section.news {
				.block.article {
					padding: 50px;
					position: relative;
					&.has-image { 
						max-width: 572px; 
					}
					.content {
						> p:last-child { margin: 0; }
					}
				}
				> .container-fluid > .row:not(:last-child) { margin-bottom: 30px; }
			}
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
			.section.news {
				.block.article {
					margin-left: -20px;
					&.has-image {
						margin-top: 30px;
					}
				}
				> .container-fluid > .row:nth-child(odd) {
					.block.article {						
						&.has-image:before {
							position: absolute;
							display: block;
							top: 0;
							left: -25px;
							content: "";
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 25px 0 0 25px;
							border-color: #fff transparent transparent transparent;
						}
					}
				}
				> .container-fluid > .row:nth-child(even) {
					.clearfix();
					.block.article {	
						float: right;	
						margin-right: -20px;				
						&.has-image:before {
							position: absolute;
							display: block;
							top: 0;
							right: -25px;
							content: "";
							width: 0;
							height: 0;
							border-style: solid;
							border-width: 25px 25px 0 0;
							border-color: #fff transparent transparent transparent;
						}
					}
				}
				
			}
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
		}
	}

}