#nijdra_eu.view-index {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
		
		.section.carousel {
			width: 100%;
			background: #ccc;
			padding: 0;
			// max width outer div
			> .outer {
				max-width: 1920px;
				width: 100%;
				height: 0;
				z-index: 1000;
				min-height: 0;
				padding-bottom: 78%;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				overflow: hidden;
				
				> .inner {
					position: absolute;
					z-index: 1030;
					top: 0; 
					width: 100%;
					padding: 30px 0 0 0;
					
					.page-title {
						display: block;
						h1 {  
							.ubuntu(42px, 500, @headings-line-height);
							letter-spacing: @theme-headings-letter-spacing;
							color: #fff;
							margin: 0 0 10px 0;
							padding: 0;
						}
					}
					
					p {
						.ubuntu(24px, 300, @headings-line-height);
						color: #fff;
						max-width: 555px;
					}
					
				}
				// animated scroll hint
				> .scroll-hint {
					display: block;
					position: absolute;
					left: 50%;
					bottom: 5px;
					margin-left: -15px;
					width: 30px;
					text-align: center;
					color: #fff;
					background-size: contain;
					z-index: 1040;
					a { color: #fff; }
				}	
				// transparent gradient
				&:before {
					z-index: 1020;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
					content: "";
					display: block;
					#gradient > .horizontal(rgba(0,0,0,1); rgba(0,0,0,0););
				}
			}

			#carousel {    
				position: absolute;
				top: 0;
				z-index: 1010;
				height: 100%;
				width: 100%;
				.slide { 
					width: 100%;
					height: 100%;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
			
			.carousel-controls { 
				.responsive-invisibility(); 
			}		

		}
		
		.section.intro {
			.block.text {
				.content {
					.quote { max-width: 505px; }
				}
			}
		}
		
		.section.services {
			> .container > .row {
				.block.text {
					padding: 0 10px;
					&:not(:last-child) { margin-bottom: 30px; }
					.title {
						margin: 25px 0 10px 0;
						h3 {
							font-size: 21px;
						}
					}
				}
			}
		}
		
		.section.news {
			background: @theme-section-bg;
			.block.article {
				position: relative;
				background: #fff;
				padding: 25px;
				margin-top: 30px;
				.title {
					margin-bottom: 15px;
					h3 { 
						font-size: 18px; 
						font-weight: 500; 
						a { text-decoration: none; }
					}
				}
				.content {
					color: @text-color;
					position: relative;
					> a { 
						text-decoration: none; 
						p:hover:after {
							.material-icons;
							font-size: 16px;
							content: "trending_flat";
							color: @nijdra-blue;
							display: inline;	
							margin-left: 4px;
							line-height: 1;
						}
					}
				}
			}
			
			.block.list {
				padding: 20px 30px;
				max-width: 572px;
				.content {
					ol {  
						.list-unstyled();
						margin: 0;
						padding: 0;
						> li > a { 
							font-size: 16px;
							font-weight: 500;
							text-decoration: none;
							color: @nijdra-blue;
							&:hover:after {
								.material-icons;
								font-size: 16px;
								content: "trending_flat";
								color: @nijdra-blue;
								display: inline;	
								margin-left: 4px;
								line-height: 1;
							}
						}
						> li:not(:first-child) { margin-top: 10px; }
					}
				}
			}
		}
		
		.section.agenda {
			background: @nijdra-darkest-blue;
			color: #fff;
			.section-title {
				h2 { color: #fff; }
			}
			.block.list {
				padding: 20px 30px;
				.content {
					> ol { 
						.list-unstyled(); 
						margin: 0 0 25px 0;
						padding: 0;
						> li {
							padding-bottom: 10px;
							margin-bottom: 12px;
							border-bottom: 2px solid #003449;
							strong { 
								font-size: 16px; 
								font-weight: 500;
								margin: 0 0 4px 0; 
								a { 
									display: block;
									color: #fff; 
									text-decoration: none;
									font-size: 16px;
									&:hover:after {
										.material-icons;
										font-size: 16px;
										content: "open_in_new";
										color: darken(#fff, 50%);
										display: inline-block;	
										margin-left: 4px;
										line-height: 1;
									}
								}
							}
							> ul {
								.list-unstyled();
								.make-row();
								> li { .make-md-column(6); font-weight: 300; }
							}
						}
					}
					
				}
			}
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {
			
			.section.carousel {
				> .outer {
					padding-bottom: 33%;
				}
			}
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
			
			.section.carousel {
				> .outer {
					padding-bottom: 33%;
					> .inner {
						padding: 45px 0 0 0;
						.page-title h1 { font-size: 52px; }
						p { font-size: 32px; }
					}
				}
			}
			
			.section.intro {
				.block.text {
					.content {
						.quote { margin-top: 0; }
					}
				}
			}
			
			.section.services {
				> .container > .row {
					position: relative;
					&:before {
						.translate(-50%, 0);
						left: 50%;
						display: block;
						content: "";
						height: 100%;
						position: absolute;
						width: 100%/3;
						border: 2px solid @theme-section-bg;
						border-width: 0 2px;
						box-sizing: border-box;
					}
					.block.text .content .wrap {
						min-height: @font-size-base * @line-height-base * 6;
						.de& { min-height: @font-size-base * @line-height-base * 8; }
					}
				}
			}
			
			.section.news {
				.block.article {
					padding: 50px;
					margin-left: -20px;
					max-width: 572px;
					&:before {
						position: absolute;
						display: block;
						top: 0;
						left: -25px;
						content: "";
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 25px 0 0 25px;
						border-color: #fff transparent transparent transparent;
					}
				}
			}
			
			.section.agenda {
				.block.list {
					.content {
						ol > li { 
							ul { 
								> li:first-child { text-align: left; }
								> li:last-child { text-align: right; }
							}
						}
					}
				}
			}
			
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
			.section.carousel {
				> .outer {
					padding-bottom: 26%;
					> .inner {
						.page-title h1 { font-size: 72px; }
						p { font-size: 46px; }
					}
				}
				.carousel-controls {
					.responsive-visibility();
					.control {
						.translate(0, -50%);
						padding: 0 15px;
						position: absolute;
						z-index: 1030;
						top: 50%;
						color: #fff;
						display: block;
						text-align: center;
						text-decoration: none;
						cursor: pointer;
						background: @nijdra-green;
						color: #fff;
						width: 48px;
						text-align: center; 
						.material-icons { line-height: 84px; }
						&.prev { left: 30px; }
						&.next { right: 30px; }
						&:hover {
							background: darken(@nijdra-green, 5%);
						}
					}
				}
			}
			
			.section.services > .container > .row {
				.block.text .content .wrap {
					.de& { min-height: @font-size-base * @line-height-base * 7; }
				}
			}
		
			.section.agenda {
				.block.list {
					max-width: 440px;
					margin: 0 auto;
					.content {
						padding-top: 50px;
					}
				}
			}
		}
	}

}