#nijdra_eu.view-co-engineering {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
		
		
		.section.complementary {
			padding: 0;
			position: relative;
			.block.text {
				padding-top: @theme-section-padding-vertical/2;
				padding-bottom: @theme-section-padding-vertical/2;
				.title {
					margin-bottom: 15px;
					.h2 { color: @nijdra-darkest-blue; }
				}
			}
		}
		
		.section.services {
			.block.text {
				.content {
					img { margin-top: 30px; max-width: 300px; }
				}
			}
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {	
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
			
			.section.complementary {
				.container-fluid {
					min-height: 415px;
					background: transparent url(//placehold.it/700x500) center right 15px no-repeat; 
					background-size: (100%/12*5) auto;
				}
				.block.text {					
					padding-top: @theme-section-padding-vertical;
					padding-bottom: @theme-section-padding-vertical;
				}
			}
			
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {	
			
			.section.complementary {
				.block.text {
					padding-left: 150px;
				}
			}
			
		}
	}

}