#nijdra_eu.view-news-item {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
		
		.section.main {
			.block.text {
				.title {
					text-align: left;
				}
			}
		}
		
		.section.list {
			background: @theme-section-bg;
			.block.list {
				.title {
					margin-bottom: 30px;
					h2 { margin: 0; }
				}
				.content {
					ul {  
						.list-unstyled();
						margin: 0;
						padding: 0;
						> li > a { 
							font-size: 16px;
							font-weight: 500;
							text-decoration: none;
							color: @nijdra-darkest-blue;
							padding: 10px 0;
							display: block;
						}
						> li:not(:last-child) { 
							border-bottom: 1px solid darken(@theme-section-bg, 10%);
						}
					}
				}
			}
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
						
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
		}
	}

}