#nijdra_eu.view-intro {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	padding-top: 0;
	
	.page-main {
		.section.masthead {
			min-height: 100vh;
			width: 100vw;
			> .background {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 100vw;
				max-width: 100vw;
				min-height: 100vh;
				padding-bottom: 52px;
				background-size: cover;
				.block.text {
					.translate(0, -25%);
					top: 25%;
					bottom: auto;
					position: relative;
					.figure { margin-bottom: 20px; }
					.title {
						margin-bottom: 40px;
						h1 { font-size: 35px; }
						h2 { 
							font-size: 25px; 
							font-style: italic;  
							font-weight: 300; 
							color: @nijdra-green;
							line-height: 1.25em;
						}
					}
					.content {
						color: #fff;
						ul { 
							.list-unstyled(); 
							margin: 20px 0;
							> li { 
								display: block;
								max-width: 190px; 
								margin-top: 12px;
							}
							> li > .btn-transparent { 
								text-align: left;
								padding-top: 8.5px;
								padding-bottom: 8.5px;
								.flag-icon { margin-right: 10px; }
							}
						}
					}
				}
		
				.block.social {
					position: absolute;
					bottom: 0;
					left: 0;
					z-index: 1020;
					width: 100%;
					.content {
						padding: 15px 0;
						ul {
							.list-unstyled();
							.list-inline();							
							margin: 0;
							> li { 
								margin: 0 15px 0 0;
								padding: 0;
								> a { color: #fff; }
								> a .fa { font-size: 20px; }
							}
						}	
					}
				}
			}
		}	
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
			.section.masthead {

				> .background {
					.block.text {
						.title {
							h1 { font-size: 80px; }
							h2 { 
								font-size: 45px;
								padding-left: .7em; 
							}
						}
					}
				}
			}
								
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
		}
	}

}