#nijdra_eu.view-vacature-item {
	
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	
	.page-main {
		
		.section.main {
			
			.block.details {
				margin-top: 50px;
			}
			
		}
		
		.section.form {
			background: @theme-section-bg;
			.block.form {
				.title { text-align: center }
				.content {
					
					.form {
						.form-control { border-color: darken(@theme-section-bg, 10%); }
					}
					
					.buttons-set {
						background: none;
						border: none;
						padding: 0;
					}
				}
			}
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		.page-main {
		
			.section.main {
	
				.block.text {
					.title {
						h1 { font-size: @font-size-h1; }
					}
				}
				
			}
			
		}
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
		.page-main {
			
			.section.main {
				.block.details {
					.content {
						max-width: 600px;
					}
				}
			}
						
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 
		
		.page-main {		
			
		}
	}

}